<!DOCTYPE html>
<html>
<head>
  <title>Customer List</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>All Customers</h1>
  <table>
    <tr>
      <th>ID</th><th>Name</th><th>Email</th><th>Phone</th>
    </tr>
    {% for cust in customers %}
    <tr>
      <td>{{ cust.cust_no }}</td>
      <td>{{ cust.custname }}</td>
      <td>{{ cust.email_address }}</td>
      <td>{{ cust.contact_no }}</td>
    </tr>
    {% endfor %}
  </table>
  <a href="/">Add Another</a>
</body>
</html>
